<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dashboard - SplitSmart</title>
  <%- include('../partials/head') %>
  <style>
    .navbar-logo {
        background: url(./../static/SplitSmart-logos_transparent.jpg) no-repeat center center;
        background-size: cover;
        width: 1000px
    }
    .vertical {
        border-right: 1px solid #c7c7c7;
        height: 800px;
        right: 50%;
    }
    .card-table {
        table-layout: fixed;
        height: 400px;
    }

  </style>
</head>

<body>
  <div class="container">
      <div class="columns">

        <!-- menu start -->
          <div class="column is-2 vertical">
              <aside class="menu is-hidden-mobile mt-6">
                  <div class="navbar-brand">
                    <a class="navbar-logo" href="/"></a>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu"></a>
                  </div>
                  
                  <p class="menu-label">
                      General
                  </p>
                  <ul class="menu-list">
                      <li><a href="/dashboard">Dashboard</a></li>
                  </ul>

                  <p class="menu-label">
                      Functions
                  </p>
                  <ul class="menu-list">
                    <li><a href="/friends-list">Friends List</a></li>
                    <li><a href="/transfer-history">Transfers Hisotry</a></li>
                  </ul>
                  <a href="/sign-in" class="button is-success is-fullwidth mt-6 ">Log Out</a>

              </aside>
          </div>
        <!-- menu end -->

          <div class="column is-10 ml-2">

              <section class="hero welcome is-small mt-3">
                  <div class="hero-body">
                      <div class="container">
                          <h1 style="float:left" class="title">
                              My Dashboard                          
                          </h1>
                          <div style="float:right">
                            <i class="material-icons">person_outline</i>
                            <%= user.email %>
                            </div>
                          <h2 style="clear:both;" class="subtitle has-text-success">
                            Get summary of your transactions here.
                          </h2>
                      </div>
                  </div>
              </section>

              <section class="info-tiles">
                  <div class="tile is-ancestor">
                    <div class="tile is-vertical is-6">
                      <div class="tile is-parent has-text-centered">
                          <article class="tile is-child box">
                              <p id="count-friend-body"class="title"></p>
                              <p class="subtitle">Friends</p>
                          </article>
                          <article class="tile is-child box">
                            <p id="count-body" class="title"></p>
                            <p class="subtitle">Transactions</p>
                        </article>
                      </div>
                      <div class="tile is-parent">
                        <div class="tile is-child card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Transactions History
                                </p>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                      <thead>
                                        <tr>
                                          <td width="35%">Shared With</td>
                                          <td width="20%">Purpose</td>
                                          <td width="25%">Date</td>
                                          <td>Amount</td>
                                        </tr>
                                      </thead>
                                      <tbody id="table-body">                            
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="/transfer-history" class="card-footer-item">View All</a>
                            </footer>
                        </div>
                    </div>
                  </div>

                    <div class="tile is-parent is-vertical is-6">
                      <div class="title is-child box">
                          <a href="/add-friend" class="button is-success is-fullwidth ">Add Friend</a>
                      </div>
                      <div class="tile is-child card">
                              <header class="card-header">
                                  <p class="card-header-title">
                                      Split Bill
                                  </p>
                              </header>
                              <div class="card-content">
                                  <form id="split-request-form" class="content">
                                    <div class="field mt-3">
                                      <label for="" class="label">Amount</label>
                                      <div class="control">
                                        <input id="amount" type="text" name="amount" placeholder="$0" class="input" required>
                                      </div>
                                    </div>
                                    <div class="field mt-3">
                                      <label for="" class="label">Split With</label>
                                      <div class="control">
                                        <input id="friends_name" type="text" name="friends_name" placeholder="Friends name" class="input" required>
                                      </div>
                                    </div>
                                    <div class="field mt-3">
                                      <label for="" class="label">Purpose</label>
                                      <div class="control">
                                        <input id="purpose" type="text" name="purpose" placeholder="What's for" class="input" required>
                                      </div>
                                    </div>
                                    <div class="field mt-6">
                                      <button class="button is-success is-fullwidth">
                                        Send the request
                                      </button>
                                    </div>
                                    <div id="status" class="alert .alert-success" role="alert"></div> 
                                  </form>
                              </div>
                      </div>         
                  </div>
                  
                  </div>

              </section>

          </div>
      </div>
  </div>


<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-database-compat.js"></script>

<script>
  window.onload = () => {
    const firebaseConfig = {
      apiKey: "AIzaSyD8kvL9cgcg-G2TCNnXygmGMXNdSmnN6jU",
      authDomain: "ruffhouse-cd734.firebaseapp.com",
      projectId: "ruffhouse-cd734",
      storageBucket: "ruffhouse-cd734.appspot.com",
      messagingSenderId: "364754588322",
      appId: "1:364754588322:web:7f41055433c85ea096bdfb"
    };

    firebase.initializeApp(firebaseConfig);

    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        // User is signed in, see docs for a list of available properties
        // https://firebase.google.com/docs/reference/js/firebase.User
        curr_user_id = user.uid;
        const dbRef = firebase.database().ref('users/' + curr_user_id + '/history');
            dbRef.get().then((snapshot) => {
                if (snapshot.exists()) {
                    var count = 0;
                    var row = "";
                    console.log("data is loading")
                    snapshot.forEach((child) => {
                        // console.log(child.key, child.val());
                        // console.log(child.val()['friend_name']);
                        count +=1;
                        row += '<tr>'+'<td>' + child.val()['sharedwith'] + '</td>'
                          + '<td>' + child.val()['purpose'] + '</td>'
                          + '<td>' + child.val()['date'] + '</td>'
                          +'<td>' + '$' + child.val()['amount'] + '</td>'+'</tr>';
                    });
                    var count_html = document.getElementById("count-body").innerHTML + count;
                    document.getElementById("count-body").innerHTML = count_html;

                    var html = document.getElementById("table-body").innerHTML + row;
                    document.getElementById("table-body").innerHTML = html;

                    console.log("data is loaded")
                } else {
                    console.log("No data available");
                }
                }).catch((error) => {
                console.error(error);
            });
        const dbRef2 = firebase.database().ref('users/' + curr_user_id + '/friends');
            dbRef2.get().then((snapshot) => {
                if (snapshot.exists()) {
                    var count_friend = 0;
                    console.log("friend data is loading")
                    snapshot.forEach((child) => {
                        // console.log(child.key, child.val());
                        // console.log(child.val()['friend_name']);
                        count_friend +=1;
                    });
                    var count_friend_html = document.getElementById("count-friend-body").innerHTML + count_friend;
                    document.getElementById("count-friend-body").innerHTML = count_friend_html;

                    console.log("friend data is loaded")
                } else {
                    console.log("No friend data available");
                }
                }).catch((error) => {
                console.error(error);
            });
      }
    });

    // app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

  // const user = firebase.auth().currentUser;

  document
      .getElementById("split-request-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        friends_name = event.target.friends_name.value;
        amount = event.target.amount.value;
        purpose = event.target.purpose.value;
        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();

        console.log(curr_user_id);
        
        // Create a new post reference with an auto-generated id
        var postListRef = firebase.database().ref('users/' + curr_user_id + '/history');
        var newPostRef = postListRef.push();
        newPostRef.set({
            amount: amount,
            sharedwith: friends_name,
            purpose: purpose,
            date: date

        });

        document.getElementById("status").innerHTML = "Success";
        location.reload(true);
      });
    };
</script>

</body>



<!-- <body>
  <header>
    <%- include('../partials/nav', { email: user.email }) %>
  </header>

  <div class="container">
    
    <div class="columns is-centered">

      <div class="column is-4">
        <div class="field mt-6">
          <a href="/add-friend" class="button is-success is-fullwidth ">Add Friend</a>
        </div> 
        <div class="mb-6">
          <div class="has-text-weight-bold mb-2">
            Split a new bill
          </div>
          <form action="/dog-messages" method="post">
            <input class="input" type="text" name="message" placeholder="Split a bill" />
            <button class="button mt-2">Split!</button>
          </form>
        </div>
        <div class="feed-stream">
          <%- include('../partials/feed-stream', { feed: feed }) %>
        </div>
      </div>
    </div>
  </div>
</body> -->
  
<%- include('../partials/footer') %>

</html>